html, body {
  margin: 0;
  padding: 0; }

/* flexbox specs */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

ul li {
  list-style-type: none; }

.ampy {
  text-align: center;
  font-size: 20px;
  margin: 0; }

.underline {
  text-decoration: underline; }

header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  top: 0px;
  position: fixed;
  height: 100%;
  width: 275px; }
  header #logo {
    padding: 25px 0 0 25px;
    width: 215px; }
  header .contact {
    margin: 30px 0 0 0px;
    padding: 0 0 10px 25px;
    font-size: 14px; }
    header .contact .email {
      margin-bottom: 5px; }
    header .contact .number {
      letter-spacing: 2px; }
    header .contact hr {
      border-width: 1px 0 0 0; }
    header .contact svg {
      height: 15px; }

body {
  background-color: #F5F4FF; }

#container-me {
  margin-left: 275px; }

section {
  width: 50%;
  margin: 25px 25%;
  font-family: "Franklin Gothic medium";
  text-align: justify; }

#services {
  padding-top: 50px;
  font-size: 20px;
  line-height: 30px; }
  #services b {
    color: #2E3092; }

#about {
  margin-top: 50px;
  padding-top: 50px;
  border: solid 1px grey;
  border-width: 1px 0 0 0;
  color: #474747;
  line-height: 20px; }
  #about p:first-of-type {
    margin-top: 0; }
  #about .portrait {
    float: left;
    width: 135px;
    padding: 5px 10px 10px 0; }

footer {
  transform-origin: 100% 0;
  -webkit-transform: rotateZ(-90deg);
  -moz-transform: rotateZ(-90deg);
  -ms-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  bottom: 400px;
  right: 20px;
  position: fixed;
  text-align: center;
  font-family: "Franklin Gothic medium";
  font-size: 10px;
  color: #333; }
  footer a:link {
    color: #9D9B9B; }

@media screen and (max-width: 480px) {
  header {
    position: relative;
    display: block;
    height: auto;
    width: 100%; }
    header #logo {
      width: 125px; }
    header .contact {
      float: right;
      margin-top: 23px; }
  #container-me {
    margin: 0; }
  section {
    width: 90%;
    margin: 25px 5%; }
  #services {
    font-size: 16px;
    line-height: 20px; } }
